@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --custom-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Questrial", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, rgb(0, 77, 192), black 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

#root {
  height: 90vh;
  width: 90vw;
  display: flex;
  margin: 0 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.header {
  letter-spacing: 3px;
}

.search-input-container {
  display: flex;
  width: 70%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgb(2, 1, 56), black 90%);
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: var(--custom-box-shadow);
}

.search-input {
  width: 90%;
  padding: 10px 10px;
  background: rgb(2, 1, 56);
  border: 0;
  font-size: 16px;
  text-align: center;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.575);
  font-size: 16px;
  text-align: center;
}

.search-input:focus {
  outline: none;
}

.search-btn,
.search-input {
  background: transparent;
}

.search-btn {
  width: 10%;
  height: 100%;
  border: 0;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn:focus {
  outline: 0;
}

.search-btn:active {
  cursor: default;
}

.posts-container {
  margin-top: 10px;
  overflow-y: scroll;
}

.post-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 97%;
  max-width: 800px;
  border-radius: 5px;
  background: rgba(0, 90, 225, 0.193);
  box-shadow: var(--custom-box-shadow);
  padding: 18px;
  margin: 10px;
}

.post-id {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  left: -7px;
  top: -7px;
  border-radius: 50%;
  border: 1px solid white;
  background: linear-gradient(90deg, rgb(2, 1, 56), black 90%);
}

.post-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  padding: 3px 5px;
}

.post-body {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 20px;
}

.loader {
  display: flex;
  position: fixed;
  bottom: 40px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin: 0 5px;
  background: white;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.footer {
  position: fixed;
  bottom: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
