@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --box-shad-sm: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  --margin-xs: 1rem;
  --margin-sm: 2rem;

  --bord-rad-sm: 0.5rem;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 30em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (min-width: 40em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 50em) {
  html {
    font-size: 81.25%;
  }
}
@media only screen and (min-width: 60em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 70em) {
  html {
    font-size: 93.75%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  color: white;
  text-align: center;
}

#root {
  height: 100vh;
  background: linear-gradient(180deg, rgb(0, 77, 192), black 60%) no-repeat;
  overflow: hidden;
}

/* #root > :not(:last-child) {
} */

h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  height: 15vh;
  padding-top: 2.5rem;
}

.search-input-container {
  height: 10vh;
}

.search-input {
  margin: 0 auto;
  width: 80%;
  height: 3rem;
  max-width: 50rem;
  transform: scale(0.93);
  border: 3px solid rgb(255, 255, 255);
  border-radius: var(--bord-rad-sm);
  font-size: 1.6rem;
  text-align: center;
  transition: transform 0.3s, border-color 0.6s;
}

.search-input::placeholder {
  color: rgb(95, 95, 95);
}

.search-input:focus {
  outline: none;
  border-color: rgb(46, 189, 255);
  transform: scale(1);
}

.posts-container {
  height: 65vh;
  overflow-y: scroll;
  padding: 1rem 0 1rem 6.3vw;
}

.posts-container > :not(:last-child) {
  margin-bottom: var(--margin-sm);
}

.post {
  position: relative;
  width: 95%;
  padding: 1.6rem;
  border-radius: var(--bord-rad-sm);
  background: rgba(0, 90, 225, 0.193);
  box-shadow: var(--box-shad-sm);
}

.post:nth-of-type(1) {
  animation: fadeIn 0.5s;
}
.post:nth-of-type(2) {
  animation: fadeIn 0.5s 0.5s backwards;
}
.post:nth-of-type(3) {
  animation: fadeIn 0.5s 1s backwards;
}
.post:nth-of-type(4) {
  animation: fadeIn 0.5s 1.5s backwards;
}

.post__id {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  left: -0.7rem;
  top: -0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50%;
  border: 1px solid white;
  background: linear-gradient(90deg, rgb(2, 1, 56), black 90%);
}

.post__title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  font-style: italic;
  padding-bottom: 1.5rem;
}

.post__body {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.7rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  transition: opacity 0.3s ease-in;
  animation: fadeIn 1s;
}

.circle {
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 4px;
  background: white;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.footer {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.6rem;
}

.link--github {
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}
